/**/
/* Element tag styles */
/**/
body {
  background: #2b323a;
  color: #FFFFFF;
  min-width: 600px;
  margin: 0;
  font-family: sans-serif, system-ui;
  font-size: 13.6px;
  font-weight: 300;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.15);
}
header {
  border-bottom: 1px solid #5a5a5a;
}
h1, h2, th {
  color: #2192F2;
  margin: 0;
  font-weight: 300;
}
main {
  padding: 6px 24px;
}
table {
  border-collapse: separate;
  border-spacing: 0px 12px;
  width: 100%;
}
table th {
  cursor: pointer;
  font-weight: 500;
}
button {
  cursor: pointer;
  outline: 0;
  padding: 6px 8px;
  background-color: inherit;
  color: #2192F2;
  border: 1px solid #2192F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 13px;
  transition: 0.3s;
}
button:hover {
  background-color: #2192F2;
  color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
input {
  font-size: 14px;
  outline: 0;
  border-radius: 4px;
  background-color: white;
  border-width: thin;
  text-indent: 6px;
}
input[type=date] {
  text-align: center;
  color: #717171;
  margin-left: 6px;
  min-height: 24px;
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type=checkbox] {
  zoom: 1.2;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
td {
  border: 0;
  padding-left: 5px;
}
td.button {
  text-align: right;
}
td.cookie_count {
  text-align: center;
}
tr:first-child {
  text-align: left;
  font-size: 14px;
}

/**/
/* Custom class-based styles */
/**/
.block {
  display: block;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-even {
  justify-content: space-evenly;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.ai-c {
  align-items: center;
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.red {
  color: #dc0505;
}
.btn-lg {
  width: 200px;
  font-size: 18px;
  border-radius: 500px;
}
.btn-lg:hover {
  background-color: #2192F2;
  color: #FFFFFF;
}
.inputLabel {
  align-self: center;
}
.none { display: none; }
.mode-wrapper {
  width: 90%;
  margin: 12px auto 0;
  align-items: flex-end;
}
.mode-label {
  width: 50%;
  font-size: 16px;
  cursor: default;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.25px solid #5a5a5a;
  padding-top: 8px;
  border-bottom: 0;
  transition: 0.2s all ease;
}
.mode-off {
  background-color: inherit;
  cursor: pointer;
  z-index: 0;
  color: #5a5a5a;
  font-weight: normal;
  padding-top: 0;
  border-width: 0.5px;
}
.mode-off:hover {
  color: #FFFFFF;
}
.mode-off:first-child { border-right-width: 0; }
.mode-off:last-child { border-left-width: 0; }

/**/
/* Styles by ID */
/**/
#browsing_data_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin-bottom: 24px;
}
#cookie_filter {
  height: 35px;
  width: 200px;
}

/**/
/* External class overrides */
/**/
.swal2-toast {
  flex-direction: column !important;
}